@import "../../styles/colors";

.HeadingContainer {
  display: flex;
  flex-flow: row;
  color: $bright;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 2rem;
    margin: 0 0.5em;
  }
}

.title {
  font-family: 'Audiowide', 'Roboto', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}
