@mixin materialShadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin disableUserSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
