.ResultContainer {
  display: flex;
  width: 50%;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  .Label {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .Token {
    padding: 2rem;
    width: 100%;
    background: rgba(255,255,255, 0.4);
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
    font-family: 'Raleway', sans-serif;
  }
}
